*
{
	margin: 0px;
	padding: 0px;
}
body
{
	margin: 15px;
	background-image: url("./concrete_seamless.png");
}
div.section
{
	margin-bottom: 20px;
}
h2
{
	font-weight: normal;
	font-size: 14pt;
	margin-left: 15px;
}
h3
{
	font-style: italic;
	margin-bottom: 10px;
}
div p
{
	margin-left: 15px;
}
li
{
	margin-left: 35px;
	padding-left: 5px;
	margin-bottom: 20px;
}
li p
{
	margin-left: 0px;
}
li.lev1 p
{
	text-decoration: underline;
	font-weight: bold;
}
li.lev2 p
{
	text-decoration: none;
	font-weight: normal;
}
li.lev2 p:first-child
{
	font-style: italic;
}